/* Footer principal */
.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Texto del footer */
.footer-text {
    font-size: 0.9rem;
    margin: 0;
}
